@font-face{
  font-family: "Lato-light";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Lato-light-italic";
  src: url("../fonts/Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
 font-family: "Lato-regular";
 src: url("../fonts/Lato/Lato-Regular.ttf");
 font-weight: 400;
 font-style: normal;
}

@font-face{
  font-family: "Lato-black";
  src: url("../fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

body{
  padding: 0;
  margin: 0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.service-block p, .footer-adress, .footer-telephone, .copyright p{
  font-family: "Lato-regular";
}

.slider h1, .slider p, .portfolio p, footer p{
  font-family: "Lato-light";
}

.header-menu a, .slider strong, .button, .service-block h3, .portfolio h4 , footer h5{
  font-family: "Lato-black";
}

.header-wrapper{
  background-color: #262626;
}

.container{
  width: 1110px;
  margin: 0 auto;
}

header{
  min-height: 100px;
}

header img{
  display: inline-block;
  margin-top: 37px;
}

.header-menu{
  width: 470px;
  float: right;
  padding: 0;
  margin: 39px 0 0 0;
}

.header-menu li{
  display: inline-block;
  list-style: none;
  margin: 0 24px 0 0;
  padding: 0;
}

.header-menu li:first-child a{
  color: #ff6760;
}

.header-menu li:last-child{
  margin: 0;
}

.header-menu li:hover a{
  color: #ff6760;
}

.header-menu a{
  text-decoration: none;
  color: #d9d9d9;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px;
}

.wrapper-slider{
  background-color: #2a2a2a;
}

.slider{
  padding: 52px 0 60px 0;
  min-height: 284px;
  text-align: center;
  margin: 0;
  color: #d9d9d9;
}

.slider h1, .slider strong{
  line-height: 67px;
  font-size: 60px;
}

.slider h1{
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}

.slider strong{
  margin: 0 0 21px 10px;
}

.slider p{
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 53px 0;
}

.slider span{
  font-family: "Lato-light-italic";
}

.button{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff6760;
}

.button-slider{
  padding-left: 44px;
  padding-right: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.button-slider:hover{
  background-color: #ffffff;
  color: #000000;
}

.wrapper-services{
  background-color: #f8f8f8;
}

.services{
  min-height: 369px;
}

.service-block{
  display: inline-block;
  width: 240px;
  margin: 0 46px 0 0;
  padding: 80px 0 0 0;
  text-align: center;
  color: #616161;
}

.icon{
  background-image: url("../img/services-sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 65px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.icon-android{
  background-position: 105% -25%;
}

.icon-imac{
  background-position: 0% -12%;
}

.icon-camera{
  background-position: 0% 103%;
}

.icon-watch{
  background-position: 105% 100%;
}

.service-block h3{
  font-size: 18px;
  line-height: 60px;
  margin: 0;
  padding: 0;
}


.service-block p{
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.service-block:last-child{
  margin: 0;
}

.wrapper-portfolio{
  background-color: #ffffff;
}

.portfolio{
  text-align: center;
  color: #616161;
  padding: 62px 0 0 0;
}

.portfolio h4, .portfolio p{
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.portfolio h4{
  font-size: 30px;
  margin-bottom: 25px;
}

.portfolio p{
  font-size: 20px;
  margin-bottom: 56px;
}

.filter{
  display: inline-block;
  width: 494px;
  margin: 0;
  padding: 0;
}

.filter li{
  display: inline-block;
  margin: 0 7px 25px 0;
}

.filter li:last-child{
  margin-right: 0;
}

.button-filter{
  font-size: 12px;
  line-height: 13px;
  padding: 12px 20px 10px 20px;
  text-transform: uppercase;
}

.button-filter:hover{
  background-color: #595959;
}

.active-button{
  background-color: #595959;
}

.thumbnail-line{
  margin-bottom: 6px;
}

.thumbnail-line:last-child{
  margin-bottom: 76px;
}

.thumbnail-line img{
  margin-right: 6px;
}

.thumbnail-line img:last-child{
  margin-right: 0px;
}

.footer-wrapper{
  background-color: #313131;
}

footer{
  text-align: center;
  padding: 58px 0 60px 0;
}

footer h5, footer p{
  padding: 0;
  margin: 0;
}
footer h5{
  color: #e0e0e0;
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 15px;
}

footer p{
  color: #bebebe;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 24px;
}

.footer-adress, .footer-telephone{
  font-size: 14px;
  line-height: 16px;
  color: #bebebe;
  padding: 0;
  margin: 0;
}

.footer-adress{
  display: inline-block;
  margin-right: 34px;
}

.footer-adress::before{
  content: "";
  display: inline-block;
  background-image: url("../img/sprite-footer.png");
  background-repeat: no-repeat;
  width: 9px;
  height: 13px;
  margin-right: 7px;
  background-position: 4% 0%;
}

.footer-telephone{
  text-decoration: none;
}

.footer-telephone::before{
  content: "";
  display: inline-block;
  background-image: url("../img/sprite-footer.png");
  background-repeat: no-repeat;
  background-position: 95% 0%;
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.footer-social{
  margin: 0;
  padding: 0;
}

.footer-social li{
  display: inline-block;
  list-style: none;
  margin-right: 7px;
}

.footer-social a{
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 0;
  padding: 0;
  margin: 0 5px 0 0;
  border-radius: 15px;
  background-image: url("../img/sprite-social.png");
  background-repeat: no-repeat;
}

.footer-social a:last-child{
  margin: 0;
}

.social-rss{
  background-color: #f3b25b;
  background-position: -2% 95%;
}

.social-fb{
  background-color: #5883c0;
  background-position: 23% 95%;
}

.social-tw{
  background-color: #63bee0;
  background-position: 49% 95%;
}

.social-db{
  background-color: #e9a0c4;
  background-position: 74% 95%;
}

.social-prt{
  background-color: #d35051;
  background-position: 99% 95%;
}

.copyright-wrapper{
  background-color: #2c2c2c;
}

.copyright{
  text-align: center;
  padding: 35px 0 34px 0;
}

.copyright p{
  font-size: 14px;
  line-height: 15px;
  color: #bebebe;
}
